.background{
    height: 100vh !important ;
    background: rgb(103,103,103);
    background: linear-gradient(0deg, rgba(103,103,103,1) 0%, rgba(240,240,240,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
   
}

