.background{
    height: 100vh !important ;
    background: rgb(210,210,210);
    background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(252,243,224,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
   
}

